/* Home */
.home-page {
  padding: ($base-size * 3) 0;
}    
  
.home-wrapper {
  margin: ($base-size / 2) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;    
}

/* First section */

.home-container {
  max-width: 610px;
  max-height: 260px;
  margin: auto;
  margin-bottom: 110px;  
}

.row-intro {
  max-width: 100%;
  max-height: 120px;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10px;    
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  font-family: "Oswald";   
  line-height: 0.2;
}

.box-one-image{
  background-image: url(../images/assets/pizza-1.jpg);
}

.box-two-image{
  background-image: url(../images/assets/pizza-2.jpg);
}

.box-one, .box-two {   
  text-align: center;
  padding: 5px;
  margin-inline: 2px; 
  position: relative;  
  transition: transform 3s;
  float: left; 
  background-position: center;
  background-size: cover;
} 

.btn-light {  
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;  
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}

.text-add {
  font-size: 14px;
  font-family: "Lato";
  line-height: 0;
  margin: 0; 
}

.box-one:hover, .box-two:hover {
  animation-name: fadeIn;
  animation-duration: 4s;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
} 

.box-bottom {
  height: 120px;
  background-color: $color-main;
  margin: auto;  
  margin-top: 5px;

  h5 {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    font-family: "Lato";
    padding: 40px, 0;
    line-height:1.3;        
  }
}

h2 {
  margin-top: 40px;
}

/* Carousel */

.main-carousel {
  
  width: 610px;
  height: 220px;
  margin: 15px, auto;
  margin-bottom: 100px;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  border-radius: 5px;  
  position: relative;

  .cell-image {
    position: absolute;
    width: 33%;
    height: 100%;
    overflow: hidden; 
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;    
    }
  }  

  .cell-content {
    padding: 10px 5px 15px 40%;
    text-align: left;
    font-size: 14px;
    font-family: "Lato";
    color: $color-dark;

    h3 {
      font-size: 16px;
      //color: #333333;
      font-weight: 700;      
    }

    p {      
      line-height: 23px;
      //color: #333333;
      font-weight: 600;      
    }

    h5 {      
      line-height: 20px;      
      font-weight: 400;
      font-style: italic;      
    }
  }
}

/* Gallery */

.gallery-container {
  width: 610px;
  height: 420px;
  display: flexbox;
  flex-direction: row;
  flex-wrap: nowrap;
}

.row-gal {
  max-width: 100%;
  max-height: 210px;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10px  
}

.gallery-con {
  width: 195px;
  height: 195px;
  margin: 5px;
  position: relative;  
  transition: transform 3s;
  float: left; 
  background-position: center;
  background-size: cover;  
  z-index: 0; 
}

.icons-added {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icons-added i {
  margin: auto;  
  visibility: hidden;
} 

.gallery-con:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $color-dark;
  opacity: 0.4;
  transition: 2s linear;
  top: 0;
  left: 0; 
}

.gallery-con a {
  z-index: 3;
}

.image-one{
  background-image: url(../images/assets/pizza-4.jpg);
}

.image-two{
  background-image: url(../images/assets/pizza-5.jpg);
}

.image-three{
  background-image: url(../images/assets/pizza-6.jpg);
}

.image-four{
  background-image: url(../images/assets/pizza-7.jpg);
}

.image-five{
  background-image: url(../images/assets/pizza-8.jpg);
}

.image-six{
  background-image: url(../images/assets/pizza-9.jpg);
}

.gallery-con i {
  visibility: hidden;
  margin: 5px;
  transform: scale(0.5);  
  cursor: pointer;
}

.gallery-con:hover i {
  visibility: visible;
  color: $color-main;
  transform: scale(1);
  transition: 2s;
}

/* Section footer */

.footer {
  margin-top: 5px;

  .social-media {
    color: $color-main;   
  }
}

